name: Autopep8 Check

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]
permissions:
  contents: write

jobs:
  autopep:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12.1"

    - name: Install Autopep8
      run: pip install autopep8

    - name: Run Autopep8
      run: |
        autopep8 --in-place --aggressive --aggressive --recursive . 

    - name: Commit changes made by autopep8
      run: |
       git config user.name 'github-actions[bot]'
       git config user.email 'github-actions[bot]@users.noreply.github.com'
       git add .
       git commit -m "Apply autopep8, populate log files for pylint, autopep and bandit " || echo "No autopep8 changes"
       git push
       